.quests_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quests_container p {
  color: #232323;
}
.card_quests {
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 420px;
  text-align: center;
  gap: 10px;
  border: 1px solid #232323;
  border-radius: 5px;
}
.card_quests a {
  padding: 5px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  background-color: #ff725e;
  border: 2px solid transparent;
  cursor: pointer;
  color: #fbf8f3;
  transition: 0.4s;
  -webkit-filter: drop-shadow(50px 50px 5px #232323);
  filter: drop-shadow(0px 10px 5px #232323);
}
.card_quests a:hover {
  background-color: #ff825e;
}
.tags {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.tags p {
    font-size: 0.8em;
    color: #fbf8f3;
    background-color: #232323;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.card_quests span {
    color: #232323;
    font-weight: bold;
}
.card_quests p {
    font-size: 0.8em;
    text-align: start;
    font-style: italic;
}
.card_quests h2 {
    margin-bottom: 1.5em;
    font-weight: 500;
}

